html {
    position: absolute;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}


body {
    background-color: #d5e1ef;
    overflow: hidden;
}

body, html {
    margin: 0;
    padding: 0;
  }

.parent{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
}

.qrContainer {
    height: 300px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    padding-bottom: 68px;
    border-radius: 15px;
    margin: 0 auto;

}

.qrContainer img {
    width: 215px;
    display: flex;
    border-radius: 15px;
    margin-top: -8px;
    margin-bottom: 12px;
}

.qrContainer h1 {
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
    width: 215px;
    font-weight: bolder;
    margin-bottom: 5px;
}

.qrContainer p {
    font-size: 11.5px;
    color: #858e9c;
    font-family: 'Outfit', sans-serif;
    width: 200px;
    font-weight: bold;
}

.attribution{
    margin-top: 20px;
}